body{
    background: #4761f7;
    color: #38415E;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    background-color: #4761f7;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.white-background{
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 450px;
}

.input-space{
    background: #F5F6FA;
    margin: 30px 0px;
    color: #B2B2BE;
    display: block;
    border: none;
    padding: 10px;
    width: 350px;
}