header {
    background-color: #f9f9fb;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.logo {
    width: 4rem;
}

.header-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 4rem;
    display: flex;
    align-items: center ;
    cursor: pointer;
    height: 100%;
}

.menu-button {
    font-size: 2rem;
    color: gray;
}

.home-button {
    color: black;
}

.input-search {
    margin-left: 400px;
    height: 30px;
    width: 300px;
}